.dark {
  /* Texts */
  --color-primaryText: rgb(231, 233, 236);
  --color-secondaryText: rgb(201, 203, 207);
  --color-placeholderText: rgb(150, 155, 160);
  --color-subtitleText: rgb(140, 145, 150);
  --color-secondaryTextHover: rgb(255, 255, 255, 0.8);
  --color-coloredText: rgb(61, 185, 133);
  --color-coloredTextHover: rgb(105, 217, 170);
  --color-coloredLinkText: rgb(61, 185, 133);
  --color-navItemText: rgb(224, 227, 230, 0.8);
  --color-navItemTextActive: rgb(255, 255, 255);
  --color-navSectionTitle: rgb(225, 227, 230);
  --color-tableCellText: rgb(190, 195, 200);
  --color-tableRowBgHover: rgb(255, 255, 255, 0.03);
  --color-tableHeaderBg: rgb(255, 255, 255, 0.03);
  --color-tableHeaderBgHover: rgb(255, 255, 255, 0.07);
  --color-greenBadgeText: rgb(110, 231, 183);
  --color-redBadgeText: rgb(253, 164, 175);
  --color-orangeBadgeText: rgb(253, 186, 116);
  --color-roleAdminBadgeText: rgb(147, 197, 253);
  --color-roleEditorBadgeText: rgb(196, 181, 253);
  --color-roleViewerBadgeText: rgb(134, 239, 172);
  --color-roleBannedBadgeText: rgb(252, 165, 165);
  --color-roleDemoBannerText: rgb(156, 163, 175);
  --color-destructiveAlertText: rgb(255, 255, 255);
  --color-destructiveAlertIcon: rgb(248, 113, 113);
  --color-successAlertText: rgb(255, 255, 255);
  --color-successAlertIcon: rgb(74, 222, 128);
  --color-logoBasicText: rgb(255, 255, 255);
  --color-tabLineActiveText: rgb(90, 149, 224);
  --color-tabLineActiveTextHover: rgb(108, 175, 253);
  --color-tabLineInactiveText: rgb(140, 145, 150);
  --color-tabLineInactiveTextHover: rgb(170, 175, 180);
  --color-tabDefaultInactiveTextHover: rgb(255, 255, 255);
  --color-settingsDrawerLabelText: rgb(201, 203, 207);
  --color-settingsDrawerSectionTitle: rgb(140, 145, 150);

  /* Icons */
  --color-grayIcon: rgb(160, 165, 170);
  --color-grayIconHover: rgb(190, 195, 200);
  --color-navItemIconActive: rgb(61, 185, 133);
  --color-settingsIcon: rgb(145, 150, 155);
  --color-calendarIconHover: rgb(190, 195, 200);
  --color-settingsDrawerDivider: rgb(255, 255, 255, 0.06);
  --color-fourCardIconGreen: rgb(110, 220, 190);
  --color-fourCardIconBlue: rgb(130, 180, 240);

  /* Backgrounds */
  --color-primaryBg: rgb(28, 32, 37);
  --color-secondaryBg: rgb(22, 26, 31);
  --color-authPageBg: rgb(17, 21, 26);
  --color-errorPageBg: rgb(17, 21, 26);
  --color-assetPerformanceBarBg: rgb(22, 26, 31);
  --color-tabsBg: rgb(27, 31, 36);
  --color-tabListBg: rgb(22, 26, 31);
  --color-tabActiveBg: rgb(28, 32, 37);
  --color-tabActiveBgHover: rgb(34, 38, 43);
  --color-revenueTabActiveBg: rgb(35, 38, 42);
  --color-revenueTabActiveBgHover: rgb(45, 48, 52);
  --color-mainColor: rgb(61, 185, 133);
  --color-progressIndicator: rgb(61, 185, 133);
  --color-navigationBg: rgb(28, 32, 37);
  --color-navItemBg: rgb(12, 18, 24, 0);
  --color-navItemBgHover: rgb(255, 255, 255, 0.03);
  --color-navItemActiveBg: rgb(255, 255, 255, 0.07);
  --color-navItemActiveBgHover: rgb(255, 255, 255, 0.1);
  --color-inputBg: rgb(255, 255, 255, 0.03);
  --color-inputBgHover: rgb(255, 255, 255, 0.05);
  --color-toggleSwitchBg: rgb(255, 255, 255, 0.08);
  --color-switchUncheckedBgHover: rgb(255, 255, 255, 0.14);
  --color-paginationActiveBg: rgb(255, 255, 255, 0.05);
  --color-buttonActiveBg: rgb(35, 42, 49);
  --color-outlinedButtonBg: rgb(255, 255, 255, 0.05);
  --color-outlinedButtonBgHover: rgb(255, 255, 255, 0.07);
  --color-secondaryButtonBg: rgb(255, 255, 255, 0.05);
  --color-secondaryButtonBgHover: rgb(255, 255, 255, 0.07);
  --color-containedButtonBg: rgb(54, 128, 96);
  --color-containedButtonBgHover: #4a9373;
  --color-badgeDefaultBg: rgb(54, 128, 96);
  --color-badgeDefaultBgHover: #4a9373;
  --color-dropdownBg: rgb(36, 40, 45);
  --color-dropdownBgHover: rgb(43, 47, 52);
  --color-calendarTodayBg: rgb(255, 255, 255, 0.04);
  --color-calendarListDayHeaderBg: rgb(255, 255, 255, 0.02);
  --color-calendarEventBgHover: rgb(255, 255, 255, 0.02);
  --color-chartPrimaryBg: rgb(61, 185, 133);
  --color-chartSecondaryBg: rgb(83, 133, 198);
  --color-chartPrimaryFill: rgb(61, 185, 133);
  --color-chartPrimaryGrid: rgb(255, 255, 255, 0.1);
  --color-chartPrimaryDisabled: rgb(255, 255, 255, 0.1);
  --color-chartPrimaryInverted: rgb(61, 185, 133);
  --color-chartSecondaryFill: rgb(83, 133, 198);
  --color-chartSecondaryDisabled: rgb(255, 255, 255, 0.1);
  --color-chartMutedFill: rgb(86, 92, 101);
  --color-chartSecondaryInverted: rgb(83, 133, 198);
  --color-chartSecondaryAccent: rgb(83, 133, 198);
  --color-loaderBg: rgb(36, 40, 45);
  --color-loaderCircleBg: rgb(61, 185, 133);
  --color-selectBg: rgb(255, 255, 255, 0.05);
  --color-selectBgHover: rgb(255, 255, 255, 0.07);
  --color-userButtonBg: rgb(25, 32, 39);
  --color-loginModalBg: rgb(25, 30, 35);
  --color-authPageLogoCircleBg: rgb(33, 36, 40);
  --color-authErrorTooltipBg: rgb(36, 40, 45);
  --color-navbarButtonBg: rgb(255, 255, 255, 0);
  --color-navbarButtonBgHover: rgb(255, 255, 255, 0.05);
  --color-navbarIconButtonBgHover: rgb(255, 255, 255, 0.08);
  --color-mobileOverlayBg: rgb(0, 0, 0, 0.4);
  --color-galleryBg: rgb(0, 0, 0, 0.5);
  --color-galleryThumbnailBg: rgb(255, 255, 255, 0.01);
  --color-datepickerHeaderBg: rgb(41, 43, 48);
  --color-tooltipBg: rgb(44, 49, 55);
  --color-scrollbarBg: #22252a;
  --color-scrollbarPlaceholderBg: rgb(23, 27, 31);
  --color-activeProductBg: rgb(255, 255, 255, 0.07);
  --color-calendarMainColor: rgb(54, 128, 96);
  --color-scrollbarThumb: rgba(94, 98, 105, 0.7);
  --color-themeToggleBg: rgb(32, 35, 38);
  --color-themeToggleBgHover: rgb(37, 40, 44);
  --color-dropzoneBg: rgb(36, 40, 45);
  --color-dropzoneBgHover: rgb(40, 44, 49);
  --color-themeToggleActiveBg: rgb(41, 43, 48);
  --color-floatingMenuButtonBg: rgb(41, 44, 48);
  --color-floatingMenuButtonBgHover: rgb(51, 54, 58);
  --color-percentageBadgeGreenBg: rgba(110, 231, 183, 0.05);
  --color-percentageBadgeRedBg: rgba(253, 164, 175, 0.05);
  --color-percentageBadgeGreenBorder: rgba(110, 231, 183, 0.3);
  --color-percentageBadgeRedBorder: rgba(255, 100, 120, 0.35);
  --color-modalBg: rgb(27, 31, 35);
  --color-logoBg: rgb(53, 136, 101);
  --color-chipBg: rgb(255, 255, 255, 0.07);
  --color-chipBgHover: rgb(255, 255, 255, 0.1);
  --color-mutedBg: rgb(36, 39, 43);
  --color-errorBg: rgb(195, 70, 70);
  --color-errorBgHover: rgb(207, 89, 89);
  --color-infoAlertBg: rgb(34, 38, 43);
  --color-destructiveAlertBg: rgb(34, 38, 43);
  --color-successAlertBg: rgb(34, 38, 43);
  --color-skeletonBg: rgb(40, 43, 47);
  --color-navbarSearchInputBg: rgb(255, 255, 255, 0.01);
  --color-navbarSearchInputBgHover: rgb(255, 255, 255, 0.03);
  --color-profileHeaderBg: rgb(0, 0, 0, 0.09);
  --color-settingsDrawerHeaderBg: rgb(22, 26, 31);
  --color-settingsDrawerGithubBg: rgb(22, 26, 31);
  --color-settingsDrawerGithubBgHover: rgb(27, 31, 36);
  --color-settingsButtonBgHover: rgb(45, 48, 53);
  --color-settingsLayoutPreviewBg: rgb(255, 255, 255, 0.08);
  --color-notificationBadgeBg: rgb(54, 128, 96);
  --color-notificationBadgeBgHover: #4a9373;
  --color-notificationItemBg: rgb(36, 39, 43);
  --color-notificationItemBgHover: rgb(42, 46, 51);
  --color-notificationHeaderBg: rgb(28, 32, 37);
  --color-fourCardIconBg: rgb(255, 255, 255, 0.04);
  --color-fourCardIconBgHover: rgb(255, 255, 255, 0.02);
  --color-sideMenuButtonBg: rgb(255, 255, 255, 0.02);
  --color-sideMenuButtonBgHover: rgb(255, 255, 255, 0.06);
  --color-authThemeButtonBg: rgb(36, 39, 43);
  --color-authThemeButtonBgHover: rgb(44, 48, 53);
  --color-roleAdminBadgeBg: rgb(37, 99, 235, 0.1);
  --color-roleEditorBadgeBg: rgb(109, 40, 217, 0.1);
  --color-roleViewerBadgeBg: rgb(22, 163, 74, 0.1);
  --color-roleBannedBadgeBg: rgb(220, 38, 38, 0.1);
  --color-roleSelectBg: rgb(36, 39, 43);
  --color-roleSelectBgHover: rgb(42, 46, 51);

  /* Borders */
  --color-mainBorder: rgb(255, 255, 255, 0.05);
  --color-mainBorderHover: rgb(255, 255, 255, 0.2);
  --color-outlinedButtonBorder: rgb(255, 255, 255, 0.11);
  --color-outlinedButtonBorderHover: rgb(255, 255, 255, 0.11);
  --color-inputBorder: rgba(255, 255, 255, 0.11);
  --color-inputBorderHover: rgba(255, 255, 255, 0.2);
  --color-inputBorderFocus: rgba(255, 255, 255, 0.35);
  --color-calendarBorder: rgb(255, 255, 255, 0.09);
  --color-cardBorder: rgb(255, 255, 255, 0.04);
  --color-submenuTreeLine: rgb(255, 255, 255, 0.08);
  --color-themeToggleActiveBorder: rgb(255, 255, 255, 0.11);
  --color-themeToggleBorderHover: rgb(255, 255, 255, 0.15);
  --color-themeToggleActiveBgHover: rgb(48, 51, 56);
  --color-mapCountryBorder: rgb(255, 255, 255, 0.1);
  --color-mapCountryFill: rgb(255, 255, 255, 0.1);
  --color-focusVisibleBorder: rgb(61, 185, 133);
  --color-checkboxBorder: rgb(255, 255, 255, 0.2);
  --color-checkboxUncheckedBorderHover: rgb(255, 255, 255, 0.4);
  --color-checkboxBorderDisabled: rgb(255, 255, 255, 0.11);
  --color-navbarSearchInputBorder: rgb(255, 255, 255, 0.05);
  --color-navbarSearchInputBorderHover: rgb(255, 255, 255, 0.2);
  --color-tabLineActiveBorder: rgb(90, 149, 224);
  --color-settingsButtonBorder: rgb(0, 0, 0, 0.1);
  --color-chartAxisLine: rgb(255, 255, 255, 0.2);
  --color-chartAxisText: rgb(201, 203, 207);
  --color-chartVerticalLine: rgb(255, 255, 255, 0.15);
  --color-chartCursorBg: rgb(255, 255, 255, 0.05);
  --color-destructiveAlertBorder: rgb(239, 68, 68, 0.5);
  --color-successAlertBorder: rgb(22, 163, 74, 0.5);
  --color-authThemeButtonBorder: rgb(255, 255, 255, 0.08);
  --color-authThemeButtonBorderHover: rgb(255, 255, 255, 0.18);
  --color-roleAdminBadgeBorder: rgb(37, 99, 235, 0.3);
  --color-roleEditorBadgeBorder: rgb(109, 40, 217, 0.3);
  --color-roleViewerBadgeBorder: rgb(22, 163, 74, 0.3);
  --color-roleBannedBadgeBorder: rgb(220, 38, 38, 0.3);
  --color-roleDemoBannerBorder: rgb(255, 255, 255, 0.06);

  /* Shadows */
  --authModalShadow:
    0 18px 35px -10px rgb(0, 0, 0, 0.4), 0 6px 16px -5px rgb(0, 0, 0, 0.25);
  --cardShadow: none;
}
